body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top{
    background-color: #1f2937;
    height: 450px;
}

.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.top-middle{
display: flex;
margin: 100px 200px;
height: 250px;
gap:50px;
}


.left{
    font-size: 24px;
    color: #F9FAF8;
}

.left-container{
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.img-container{
    width: 450px;
    height: 200px;
    background-color: darkslategrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

.hero{
    font-size: 48px;
    color: #F9FAF8;
}

img{
    height: 200px;
    width: 200px;
}

.normal-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

button.first{
    padding: 12px 20px;
    border-radius: 8px;
    background:#3882F6 ;
    color: white;
}


.middle-container{
    display: flex;
    gap: 52px;
    justify-content: center;
    padding-bottom: 50px;
}

.middle-item{
    max-width: 200px;
}


.illustration-block{
    height: 150px;
    border: 2px #3882F6 ;
    width: 200px;
}

.random{
    margin-top: 32px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    width: 710px;
}
.quoting{
    font-weight: bold;
    margin-left: 430px;
    font-size: large;
}

.action{
    height: 200px;
    margin: 100px 200px;
    background-color: #3882F6;
    border-radius: 8px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin-top: auto;
  padding: 20px;
  color: #E5E7EB;
}

.last-middle{
    display: flex;
    margin: 10px 100px;
    gap: 100px;
    padding: 20px;
}

.last-left{
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.call{
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
}
.sign{
    color: #E5E7EB;
    font-weight: lighter;
}
button.second{
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
   
}
.b-container{
    width: 250px;
    height: 10px;
    border: 1px #E5E7EB ;
    
    
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 8px;
  }
  
  a {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }